*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
textarea, select {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  font: inherit;
  color: inherit;
}

body, html {
  overflow-x: hidden;
}

@media screen and (max-width: 991px) {
  body, html {
    font-size: 16px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: -40px;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  border: 1px solid black;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll-top.show {
  bottom: 30px;
  opacity: 1;
}

body {
  background-color: #f8f8f8;
  overflow: hidden;
}

body.dark {
  background-color: #292C35;
  color: white;
}

body.dark .card__name {
  color: #000;
}

body.dark .right {
  background-color: #111;
}

body.dark .info__text, body.dark .sub-title, body.dark .introduce__text, body.dark .history__desc,
body.dark .history__place, body.dark .history__R {
  color: #e1e1e1;
}

body.dark .checkmark {
  border: 1px solid #d4d4d4;
}

body.dark .primary-title::after {
  background-color: #1f1f1f;
}

.dangkhoi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding: 50px 0px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
}

.left {
  padding-top: 280px;
  width: 30%;
  overflow: hidden;
  padding-right: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .left {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}

.left.open {
  left: 0;
  -webkit-animation: fadeInLeft 0.3s forwards;
          animation: fadeInLeft 0.3s forwards;
}

.right {
  padding: 250px 60px 60px 30px;
  width: 70%;
  background-color: #ffffff;
  position: relative;
}

@media screen and (max-width: 768px) {
  .right {
    width: 100%;
    padding: 250px 15px 30px 15px;
  }
}

.primary-title {
  font-weight: bold;
  font-size: 24px;
  position: relative;
  text-transform: uppercase;
}

.primary-title::after {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #000;
  content: '';
  bottom: -8px;
  left: 0;
}

.sub-title {
  font-size: 18px;
  padding-top: 20px;
  color: #616263;
}

.rate {
  font-size: 12px;
  padding-top: 5px;
}

.info {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .info {
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: white;
    top: 0;
    padding-top: 20px;
    padding-right: 30px;
  }
  .info.dark .primary-title {
    color: black;
  }
  .info.dark .info__title {
    color: black;
  }
  .info.dark .info__text {
    color: #616263;
  }
}

.info__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 20px;
}

.info__text {
  padding-top: 5px;
  color: #616263;
}

.technical {
  margin-bottom: 30px;
}

.introduce__text {
  padding: 20px 0px;
  color: #616263;
  text-align: justify;
}

.introduce__text a {
  color: #616263;
  text-decoration: none;
}

.introduce__text a:hover {
  color: black;
}

.introduce__text.dark a:hover {
  color: white;
}

.history__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.history__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.history__place {
  color: #616263;
  font-size: 18px;
}

.history__R {
  color: #616263;
  font-style: italic;
  font-size: 16px;
}

.history__desc {
  color: #616263;
  padding: 10px 0px;
  padding-left: 35px;
  line-height: 1.7;
  text-align: justify;
}

.card {
  position: absolute;
  top: 4%;
  left: -10%;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .card {
    top: 1%;
    left: 10%;
  }
}

@media screen and (max-width: 470px) {
  .card {
    left: 1%;
  }
}

.card__inner {
  padding: 50px 80px;
  border: 2px solid #000;
}

@media screen and (max-width: 470px) {
  .card__inner {
    padding: 50px 80px;
  }
}

@media screen and (max-width: 430px) {
  .card__inner {
    padding: 50px 70px;
  }
}

@media screen and (max-width: 410px) {
  .card__inner {
    padding: 50px 65px;
  }
}

@media screen and (max-width: 400px) {
  .card__inner {
    padding: 50px 60px;
  }
}

@media screen and (max-width: 389px) {
  .card__inner {
    padding: 50px 55px;
  }
}

@media screen and (max-width: 376px) {
  .card__inner {
    padding: 50px 47px;
  }
}

@media screen and (max-width: 358px) {
  .card__inner {
    padding: 50px 38px;
  }
}

@media screen and (max-width: 340px) {
  .card__inner {
    padding: 50px 28px;
  }
}

@media screen and (max-width: 326px) {
  .card__inner {
    padding: 50px 25px;
  }
}

@media screen and (max-width: 312px) {
  .card__inner {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 304px) {
  .card__inner {
    padding: 50px 15px;
  }
}

@media screen and (max-width: 296px) {
  .card__inner {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 284px) {
  .card__inner {
    padding: 50px 5px;
  }
}

@media screen and (max-width: 273px) {
  .card__inner {
    padding: 50px 0px;
  }
}

.card__name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
}

.card__title {
  text-transform: uppercase;
  color: #616263;
  text-align: center;
}

.show768 {
  display: none;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .show768 {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .hide768 {
    display: none;
  }
}

.switch-container {
  display: block;
  position: relative;
  padding-left: 57px;
  cursor: pointer;
  font-size: 25px;
}

.switch-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.switch-container input:checked ~ .ball {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 60px;
  border-radius: 50px;
  background-color: #111;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkmark i {
  font-size: 18px;
  color: #f1c40f;
}

.ball {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid #111;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-area {
  height: 30px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user {
  width: 35px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 768px) {
  .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
