*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
input,
textarea, select {
	border: 0;
	border-radius: 0;
	appearance: none;
	outline: 0;
	font: inherit;
	color: inherit
}
body,html {
	overflow-x: hidden;
    @include media (991px) {
        font-size: 16px;
    }
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: $blackColor;
}
.container {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}
.scroll-top {
    position: fixed;
    right: 30px;
    bottom: -40px;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
	border: 1px solid black;
	color: $whiteColor;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &.show {
        bottom: 30px;
        opacity: 1;
    }
}