*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #eaaf46;
}

body {
    font-family: 'Bebas Neue', cursive;
}

img {
    display: block;
    width: 100%;
}

p {
    font: Arial;
}

header {
    background-color: var(--main-color);
    height: 125px;
    width: 100%;
    position: relative;
}

#logo {
    background-image: url("./Test 1/image-assets/logo.png");
    position: absolute;
    left: 44px;
    top: 16px;
    width: 80px;
    height: 97px;
    z-index: 3;
}

.maincontent>h1 {
    font-size: 57.6px;
    color: var(--main-color);
    margin-top: 15px;
    font-weight: 600;
}

.maincontent>p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

#hero {
    height: 350px;
    margin-top: 25px;
}

.btn {
    font-weight: 800!important;
}

.btn-unique {
    width: 180px;
    border-radius: 80px;
    background-color: var(--main-color);
}

.img {
    height: 280px;
}

.content {
    margin-top: 130px;
}

.content_desc {
    text-align: justify;
}

footer {
    background-color: var(--main-color);
    height: 110px;
    position: relative;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social>i {
    font-size: 25px;
    margin-right: 10px;
}

.information {
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}