*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
textarea, select {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #FF8201;
}

.full {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  width: 100%;
}

.aspect-ratio-box {
  position: relative;
  padding-top: 100%;
}

.aspect-ratio-box .img-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aspect-ratio-box .img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: -40px;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #FF8201;
  border: 1px solid #FF8201;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll-top.show {
  bottom: 30px;
  opacity: 1;
}

.scroll-top-icon {
  font-size: 20px;
  color: #fff;
}

.scroll-top:hover {
  background-color: #fff;
}

.scroll-top:hover .scroll-top-icon {
  color: #FF8201;
}

.tabs-main .tab-nav {
  list-style-type: none;
}

.tabs-main .tab-nav li {
  cursor: pointer;
}

.tabs-main .tab-content {
  display: none;
}

.tabs-main .tab-content.current {
  display: block;
}

.mona-content h1,
.mona-content h2,
.mona-content h3,
.mona-content h4,
.mona-content h5,
.mona-content h6 {
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
}

.mona-content h1 {
  font-size: 1.7em;
}

.mona-content h2 {
  font-size: 1.6em;
}

.mona-content h3 {
  font-size: 1.25em;
}

.mona-content h4 {
  font-size: 1.125em;
}

.mona-content h5 {
  font-size: 1em;
}

.mona-content h6 {
  font-size: 0.85em;
}

.mona-content p {
  margin: 15px 0;
}

.mona-content ul,
.mona-content ol {
  margin: 15px 0;
  list-style-position: inside;
}

.mona-content ul ul,
.mona-content ul ol,
.mona-content ol ul,
.mona-content ol ol {
  margin-left: 15px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.column {
  padding-left: 15px;
  padding-right: 15px;
}

.hamburger-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
}

.hamburger-btn .bar {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FF8201;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.hamburger-btn .bar::before, .hamburger-btn .bar::after {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #FF8201;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.hamburger-btn .bar::before {
  top: -8px;
}

.hamburger-btn .bar::after {
  top: 8px;
}

.hamburger-btn.active .bar {
  background-color: transparent;
}

.hamburger-btn.active .bar::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-btn.active .bar::after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

.main-title::after {
  content: '';
  width: 180px;
  height: 3px;
  background-color: #FF8201;
  position: absolute;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 24px;
  }
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.sec {
  padding: 80px 0;
}

@media screen and (max-width: 991px) {
  body, html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  padding-left: 15px;
  padding-right: 15px;
}

.overlay.open {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.top-header {
  background-color: #B7B7B7;
  padding: 10px 0px;
  font-size: 12px;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header .login {
  margin-left: auto;
}

.top-header .login li {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .top-header {
    font-size: 14px;
  }
}

.top-nav li {
  display: inline-block;
  margin-right: 25px;
}

.top-nav li span {
  color: #FF8201;
}

@media screen and (max-width: 991px) {
  .top-nav li:not(:first-child) {
    display: none;
  }
}

.main-header {
  padding: 15px 0px;
  border: 2px solid #e1e1e1;
}

.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu {
  text-transform: uppercase;
}

.main-menu li {
  display: inline-block;
  margin-left: 15px;
  position: relative;
}

.main-menu li.dropdown1 > ul {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .main-menu li.dropdown1 > ul {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
}

.main-menu li.dropdown1 > ul li {
  margin-left: 0px;
}

.main-menu li.dropdown1 > ul li a {
  display: block;
  padding: 10px;
}

.main-menu li.dropdown1 > ul li:hover > a {
  color: #fff;
}

.main-menu li.dropdown1.open > ul {
  display: block !important;
  position: relative !important;
}

.main-menu li.dropdown1.open li.dropdown2 {
  padding-left: 5px;
}

.main-menu li.dropdown1.open li.dropdown2.open li {
  padding-left: 10px;
}

.main-menu li.dropdown2 > ul {
  display: none;
  padding: 0;
  min-width: 90px;
  min-height: 120px;
  color: black;
  top: 0;
  left: 100%;
  margin: 0;
  position: absolute;
  background-color: #e1e1e1;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 991px) {
  .main-menu li.dropdown2 > ul {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
}

.main-menu li.dropdown2 i {
  margin-left: 5px;
}

.main-menu li.dropdown2 i.active {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@media screen and (max-width: 991px) {
  .main-menu li.dropdown2 i {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-right: 15px;
  }
}

.main-menu li.dropdown2.open > ul {
  display: block !important;
  position: relative !important;
  top: 0;
  left: 0;
}

.main-menu li:hover > ul {
  display: block;
}

@media screen and (max-width: 991px) {
  .main-menu li:hover > ul {
    display: none;
  }
}

.main-menu li:hover > ul li:hover > a {
  background: #e1e1e1;
  color: #FF8201;
}

.main-menu i {
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #FF8201;
  font-size: 18px;
  padding: 0px 3px;
}

.main-menu i::before {
  pointer-events: none;
}

.main-menu i.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-menu.open {
  left: 0;
}

@media screen and (max-width: 991px) {
  .main-menu {
    position: fixed;
    left: 100%;
    top: 0;
    height: 100vh;
    transition: -0.95s;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  .main-menu ul {
    display: block;
    width: 250px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    font-weight: 600;
    padding-top: 20px;
  }
  .main-menu li {
    display: block;
  }
  .main-menu li a {
    display: block;
    position: relative;
    padding: 11px;
  }
  .main-menu li a i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
  }
}

.hamburger-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;
  display: none;
  margin-left: auto;
  z-index: 2;
}

.hamburger-btn .bar {
  width: 30px;
  height: 3px;
  background-color: #FF8201;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px) {
  .hamburger-btn {
    display: block;
  }
}

.intro .column {
  width: calc(100%/12*4);
}

@media screen and (max-width: 768px) {
  .intro .column {
    width: 100%;
  }
}

.intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  padding: 15px 0px;
}

.intro-text {
  padding: 0px 10px;
  text-transform: uppercase;
}

.intro-text span {
  color: #FF8201;
}

.hero {
  background-image: url("../images/truck.png");
  background-position: center center;
  background-size: cover;
  height: 850px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.hero .container {
  max-width: 768px;
}

.hero h2 {
  padding-top: 180px;
  padding-bottom: 30px;
  font-size: 30px;
}

.hero h1 {
  font-size: 58px;
  padding-bottom: 40px;
  position: relative;
}

.hero h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 500px;
  bottom: 0;
  left: 17%;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .hero h1::after {
    width: 0px;
  }
}

.hero p {
  padding-top: 30px;
  padding-bottom: 20px;
}

.hero .btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 35px;
  text-align: center;
}

.hero .btn-cc {
  background-color: #2EB872;
}

.hero .btn-cc:hover {
  color: #2EB872;
  background: #fff;
  border: 1px solid #2EB872;
}

.hero .btn-ch {
  background-color: #E00543;
  margin-right: 5px;
}

.hero .btn-ch:hover {
  color: #E00543;
  background: #fff;
  border: 1px solid #E00543;
}

.hero .button {
  padding-bottom: 440px;
}

.tracking {
  background-color: #FF8201;
  color: #fff;
  text-align: center;
  padding-bottom: 80px;
  position: relative;
}

.tracking .container {
  max-width: 620px;
}

@media screen and (max-width: 991px) {
  .tracking .container {
    width: 100%;
  }
}

.tracking h2 {
  padding-top: 245px;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}

.tracking p {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: left;
  padding-bottom: 35px;
}

.tracking .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  background-color: #fff;
  padding: 5px 5px 5px 45px;
}

.tracking .bar button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 35px;
  font-size: 10px;
  color: #FF8201;
  background-color: #2C2E52;
}

.tracking .bar button:hover {
  background-color: #fff;
  border: 1px solid #e1e1e1;
}

.tracking .truck {
  position: absolute;
  top: -17%;
  left: 17%;
}

@media screen and (max-width: 991px) {
  .tracking .truck {
    display: none;
  }
}

@media screen and (max-width: 1162px) {
  .tracking .truck {
    left: 2%;
  }
}

.heading-primary {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.heading-primary::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 180px;
  background: #FF8201;
  bottom: 0;
  left: 41%;
}

.ser {
  padding-top: 90px;
}

.ser .column {
  width: 25%;
}

@media screen and (max-width: 991px) {
  .ser .column {
    width: 50%;
  }
}

.ser__item {
  text-align: center;
  padding: 30px 5px 80px 5px;
}

.ser__img {
  text-align: center;
}

.ser__img img {
  height: 80px;
  width: auto;
}

.ser__title {
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
  min-height: 73px;
}

@media screen and (max-width: 991px) {
  .ser__title {
    font-size: 18px;
  }
}

.ser__text {
  color: #B7B7B7;
}

.ser__button {
  display: inline-block;
  padding: 10px 35px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: bold;
  margin-top: 20px;
  color: #FF8201;
  border: 1px solid #e1e1e1;
  background: #fff;
}

.ser__button:hover {
  border: 1px solid transparent;
  background: #FF8201;
  color: #fff;
}

.ser__button:hover a {
  color: #fff;
}

.priority {
  background-color: #f8f8f8;
  padding-top: 90px;
}

.priority .column {
  width: calc(100%/12*4);
  text-align: center;
}

@media screen and (max-width: 991px) {
  .priority .column {
    width: 50%;
  }
}

.priority__item {
  padding-top: 35px;
  padding-bottom: 80px;
}

.priority__img img {
  height: 80px;
  width: auto;
}

.priority__title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
}

.priority__text {
  color: #B7B7B7;
  padding-top: 25px;
}

.tutorial {
  padding-top: 85px;
}

.tutorial .column {
  width: calc(100%/12*2);
}

@media screen and (max-width: 991px) {
  .tutorial .column {
    width: calc(100%/12*4);
  }
}

@media screen and (max-width: 768px) {
  .tutorial .column {
    width: 50%;
  }
}

.tutorial__item {
  text-align: center;
  cursor: pointer;
  padding: 20px 0px;
  border-bottom: 3px solid transparent;
}

.tutorial__item:hover, .tutorial__item.current {
  border-bottom: 3px solid #FF8201;
}

.tutorial__title {
  font-size: 12px;
  font-weight: bold;
  min-height: 47px;
  padding-top: 15px;
}

@media screen and (max-width: 991px) {
  .tutorial__title {
    font-size: 18px;
  }
}

.register {
  background: url("../images/orangeRB.png") no-repeat right bottom, url("../images/greyRB.png") no-repeat right bottom;
  padding: 40px 70px 30px 70px;
  border: 1px solid #e1e1e1;
  margin-bottom: 77px;
}

.register__content {
  display: none;
}

.register__content.current {
  display: block;
}

.register .column {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .register .column {
    width: 100%;
  }
}

.register__R {
  padding: 35px 0px 55px 60px;
}

.register__desc h3 {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .register__desc h3 {
    font-size: 18px;
  }
}

.register__text {
  font-size: 14px;
  color: #B7B7B7;
  padding: 20px 0px;
}

.register__button {
  display: inline-block;
  padding: 5px 35px;
  border-radius: 25px;
  color: #FF8201;
  border: 1px solid #e1e1e1;
  font-size: 10px;
  font-weight: bold;
}

.register__button:hover {
  border: 1px solid transparent;
  background: #FF8201;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .register__button {
    font-size: 14px;
  }
}

.exp {
  padding-top: 80px;
  background: #f8f8f8;
}

.exp .column {
  width: 25%;
}

@media screen and (max-width: 991px) {
  .exp .column {
    width: 50%;
  }
}

.exp__item {
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 65px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  background: url("../images/orangeRB.png") no-repeat right bottom, url("../images/greyRB.png") no-repeat right bottom, url("../images/orangeTL.png") no-repeat top left, url("../images/greyTL.png") no-repeat top left;
}

.about {
  padding-top: 80px;
}

.about .column {
  width: calc(100%/12*4);
}

@media screen and (max-width: 991px) {
  .about .column {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .about .column {
    width: 100%;
  }
}

.about__forum {
  padding-top: 20px;
  background-color: #f8f8f8;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.about__content {
  font-size: 20px;
  color: #B7B7B7;
}

.about__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.about__name {
  font-size: 12px;
  font-weight: bold;
  color: #707070;
  margin-left: 7px;
}

.banner {
  background-color: #f8f8f8;
}

.banner .column {
  width: calc(100%/12*4);
}

@media screen and (max-width: 991px) {
  .banner .column {
    width: 50%;
  }
}

.banner__item {
  padding: 25px 0px;
  margin: 0px 50px;
}

.footer {
  background-color: #2C2E52;
  color: #fff;
}

.footer .column {
  width: 25%;
}

@media screen and (max-width: 991px) {
  .footer .column {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .footer .column {
    width: 100%;
  }
}

.footer__component {
  padding-top: 45px;
  padding-bottom: 55px;
}

.footer__component ul {
  list-style: none;
}

.footer__component h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__component li {
  position: relative;
  padding: 10px 0px;
  border-bottom: 1px solid #e1e1e1;
}

.footer__component li::after {
  content: ">";
  font-weight: 900;
  position: absolute;
  top: 35%;
  right: 0;
  color: #FF8201;
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__info span {
  display: inline-block;
  margin-bottom: 13px;
}

.footer__website {
  margin-bottom: 35px;
}

.footer__social i {
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
}

.footer__design {
  text-align: center;
  font-size: 12px;
  padding: 15px 0px;
}

.footer__design::before, .footer__design::after {
  content: '';
  display: table;
  clear: both;
}

.footer__chat {
  float: right;
  padding: 7px 40px;
  background-color: #3B5998;
  margin-left: auto;
}
