body {
    font-family: "Jost", serif;
}


/* BACKGROUND NAVIGATION */

.bg-nav {
    background-color: #ffffdd;
    font-size: 20px;
    padding: 1rem;
}


/* BACKGROUND NAVIGATION */


/* FONT LOGO ON NAVIGATION */

.font-logo {
    font-size: 30px;
}


/* FONT LOGO ON NAVIGATION */


/* EFFECT ON NAVIGATION */

.bg-nav a:hover {
    transform: scale(1.2);
    color: #f26200!important;
    text-decoration: none;
}


/* EFFECT ON NAVIGATION */


/* MULTI-LEVEL NAVIGATION*/

.subNav {
    display: none;
    position: absolute;
    color: #f26200;
    background: #ffffdd;
    padding: 0px;
}

.sub1Nav {
    display: none;
    position: absolute;
    color: #f26200;
    background: #ffffdd;
    padding: 0px;
    left: 100%;
    top: 0;
    width: 120px;
    z-index: 1;
}

.mainNav:hover>.subNav {
    display: block;
}

.subNav li:hover>.sub1Nav {
    display: block;
}


/* MULTI-LEVEL NAVIGATION*/


/*ICON ON NAVIGATION */

.btn-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffdd;
}


/*ICON ON NAVIGATION */


/* SMALL NUMBER ON ICON */

.sup {
    display: inline-block;
    position: absolute;
    background: #f26200;
    color: #ffffdd;
    width: 18px;
    font-size: 15px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
}


/* SMALL NUMBER ON ICON */


/*SET MAIN BACKGROUND ON*/

.bg-beauty {
    background-color: #ffffdd;
}


/*SET MAIN BACKGROUND */


/*SET BEAUTY COLOR  ON NAVIGATION */

.nav-link {
    color: rgba(0, 0, 0, 0.7) !important
}


/*SET BEAUTY COLOR  ON NAVIGATION */


/*SET COLOR & HEIGHT FOR COVER */

.cover {
    background-color: #ffffdd;
    height: 900px;
}


/*SET COLOR & HEIGHT FOR COVER */


/*ICON IN COVER */

.btn-play {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f26200;
    color: #ffffdd;
}


/*ICON IN COVER */


/*SET CARD PEOPLE - MEN -WOMEN */

.card-people {
    height: 350px;
    width: 100%;
}

.card-people-men {
    background-image: url(images/for-men.jpg);
    background-size: cover;
    height: 350px;
    width: 100%;
    background-position: center;
    transition: all 0.5s ease;
}

.card-people-men:hover,
.card-people-women:hover {
    transform: scale(1.1)
}

.card-people-women {
    background-image: url(images/for-women.jpg);
    background-size: cover;
    height: 350px;
    width: 100%;
    background-position: center;
    transition: all 0.5s ease;
}


/*SET CARD PEOPLE - MEN -WOMEN */


/*SET COLOR ON ACTIVE NAVIGATION & FOOTER */

.active,
.footer a {
    color: #f26200!important;
}


/*SET COLOR ON ACTIVE NAVIGATION & FOOTER */


/*HR ON CATE.HTML */

.side-bar-hr-lg {
    width: 50%;
    margin-left: 0;
    font-size: 30px;
    background-color: brown;
}

.side-bar-hr {
    width: 70%;
    margin-left: 0;
}


/*HR ON CATE.HTML */


/* SET BLACK COLOR & TEXT-DECOR:NONE ON PRODUCT*/

.product a,
.product a:hover {
    text-decoration: none!important;
    color: #111111;
}


/* SET BLACK COLOR & TEXT-DECOR:NONE ON PRODUCT*/


/* PRODUCT PRICE*/

.card-text p {
    font-size: 20px;
    font-weight: bold;
    color: #ca1515;
}


/* PRODUCT PRICE*/


/* HOVER ON PRODUCT*/

.card:hover>.card-body h5 {
    color: red;
}


/* HOVER ON PRODUCT*/


/* BUTTON BELOW PRODUCT */

.btn-cart {
    font-size: 14px;
    background: #dc3545;
    padding: 14px 30px 15px;
    border-radius: 50px;
}


/* BUTTON BELOW PRODUCT */


/* EXPAND OPTION CATEGORIES*/

.list-unstyled li {
    margin-bottom: 10px;
    font-size: 20px;
}

.list-unstyled li a {
    color: rgba(0, 0, 0, 0.7)
}


/* EXPAND OPTION CATEGORIES*/


/* PAGINATION ON CATE.HTML*/

.pagination a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    font-size: 18px;
    color: #111111;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
}


/* PAGINATION ON CATE.HTML*/


/* INSTAGRAM EFFECTS*/

.insta-item {
    height: 320px;
    z-index: 1;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.insta-text {
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all, 0.3s;
}

.insta-text i {
    font-size: 30px;
    color: #0d0d0d;
}

.insta-text a {
    font-size: 20px;
    color: #0d0d0d;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}

.insta-item:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    content: "";
    opacity: 0;
    z-index: -1;
    transition: all, 0.3s;
}

.insta-item:hover>.insta-text {
    opacity: 1;
    visibility: visible;
}

.insta-item:hover:after {
    opacity: 1;
}


/* INSTAGRAM EFFECTS*/


/* SETTING CHECKOUT*/

.checkout-input p {
    color: #444444;
    font-size: 20px;
    margin-bottom: 10px;
}

.checkout-input input {
    height: 50px;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #666666;
}


/* SETTING CHECKOUT*/


/* BUTTON ON CHECKOUT.HTML*/

.btn-red {
    font-size: 18px;
    background: #ca1515;
    padding: 12px 30px;
    border-radius: 50px;
}


/* BUTTON ON CHECKOUT.HTML*/


/* SETTING CONTACT*/

.contact-info h5 {
    font-size: 26px;
    margin-bottom: 20px;
}

.contact-info i {
    font-size: 18px;
    margin-right: 5px;
}

.contact-info h6,
.contact-info p {
    font-size: 20px;
}


/* SETTING CONTACT*/


/* SETTING FOOTER*/

.footer-about p,
.footer-info a,
.footer-copyright a {
    font-size: 18px;
}

.btn-floating i:hover {
    transform: scale(1.1);
}


/* SETTING FOOTER*/


/*SET LEFT- FOOTER */

.footer-info a {
    margin-bottom: 12px;
    font-size: 16px;
}


/*SET LEFT- FOOTER */